<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Insertion Result</title>
    <style>
       .success {
            color: green;
            font-weight: bold;
        }
       .failure {
            color: red;
            font-weight: bold;
       }
    </style>
</head>
<body>
<h1>사원 등록 결과</h1>

<!-- Success Message -->
<div th:if="${isSuccess}" class="success">
  사원 추가 성공
</div>

<!-- Failure Message -->
<div th:if="${!isSuccess}" class="failure">
  사원 추가 실패
</div>

<a href="/emp/select">사원 조회 화면으로 이동</a>
</body>
</html>